body {
    background-color: #14213d;
}

#form_box {
    margin-top: 100px;
    text-align: center;
}

#form_title {
    margin-bottom: 50px;
    font-family: RobotoMedium;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fca311;
}

#form_location {
    margin-bottom: 50px;
    font-family: RobotoMedium;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fca311;
}

label {
    display: block;
}

input {
    margin-top: 10px;
    text-align: center;
}

#title {
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    font-family: RobotoMedium;
    font-weight: lighter;
    color: #14213d;
}

#location {
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    font-family: RobotoMedium;
    font-weight: lighter;
    color: #14213d;
}

button {
    padding: 15px;
    width: 10%;
    font-family: RobotoMedium;
    font-size: 15px;
    background-color: #fca311 ;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    background: rgb(255,188,79);
    background: linear-gradient(90deg, rgba(255,188,79,1) 0%, rgba(252,163,17,1) 47%, rgba(255,159,0,1) 100%);
}

.results h2 {
    color: white;
    text-align: center;
    font-family: RobotoMedium;
    padding: 10px;
    margin-top: 50px;
}

.results p {
    color: #fca311;
    text-align: center;
    font-family: RobotoMedium;
    padding: 5px;
}

@font-face {
    font-family: RobotoMedium;
    src: url(Font/Roboto/Roboto-Medium.ttf);
}
